/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,*::before,*::after{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

body {
  font-family: Arial,Helvetica,'Noto Sans JP', sans-serif,'Helvetica Neue','Hiragino Kaku Gothic ProN','Hiragino Sans',sans-serif;
  background-color: #ebf6f7;
  color: #2f4f4f;
}

.mt-1 { margin-top: 0.5rem;} /*  8px */
.mt-2 { margin-top: 1rem;}   /* 16px */
.mt-3 { margin-top: 1.5rem;} /* 24px */
.mt-4 { margin-top: 2rem;}   /* 32px */

.l-innner {
  max-width: 800px;
  margin: 0 auto;
  padding-inline: 20px;
}

.header {
  background-color: #83ccd2;
  padding-block: 12px;
}

.header__title {
  font-size: 2.5rem;
}

.main-container {
  padding-block: 32px;
}

/* todo-form */
.todo-form__input {
  width: 360px;
  border: 2px solid #716246;
  border-radius: 4px;
  padding: 1px 8px;
}

.todo-form__button {
  background: #f5deb3;
  border-radius: 4px;
  border: 2px solid #b98c46;
  color: #715c1f;
  font-weight: bold;
}

/* list-type-01 */
.list-type-01 {
  margin-top: 1rem;
  list-style-type: '・';
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 12px;
}

.list-type-01__item {
  display: flex;
  width: fit-content;
  gap: 8px;
  align-items: center;
  cursor:pointer;
}

.list-type-01__text {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding: 4px 2px;
}

.list-type-01__text::after {
  position: absolute;
  bottom: 0;
  background: radial-gradient(circle farthest-side, #698aab, #698aab 60%, transparent 60%, transparent);
  background-size: 4px;
  content: '';
  display: inline-block;
  height: 2px;
  width: 100%;
}

.list-type-01__delete-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  border: 2px solid #698aab;
  color: #698aab;
  font-size: 1.176rem;
  cursor: pointer;
}